# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Output
*.zip
*.log

# Notebook checkpoints
.ipynb_checkpoints/

# Python build artifacts
build/
dist/
*.egg-info/
